<h1>Home</h1>

<%= form_tag('/docs/search', method: "get", id: "searchbar", class: "form-inline my-2 my-lg-0") do %>

    <%= text_field_tag(:search_string, nil, class: 'form-control mr-4', placeholder: 'Search', id: 'search-input')%>
    <%=  submit_tag "Search", class: "btn btn-success" %>

<% end %>

<%= render partial: 'doc_card' %>

<br>

<%= link_to 'Add New Doc', new_doc_path %>