<h1>Send a PDF</h1>

<%= form_with scope: :doc, url: 'mail_it', local: true, html: { multipart: true } do |form| %>
      
        <%= image_tag @doc.avatar.url(:med) %><br>

        <p>
          <%= form.label :email %><br>
          <%= form.text_field :email, class: "form-control"  %>
        </p>
          <%= form.hidden_field :description, :value => @doc.description %>
         
          <%= form.hidden_field :content, :value => @doc.content %>

          <%=  form.submit "Send", class: "btn btn-success" %>
        

      <% end %>